<form
  [formGroup]="editForm"
  (ngSubmit)="submitUpdate()"
  class="card p-4 shadow-sm"
>
  <h4 class="mb-3">✏️ Edit Product</h4>

  <div class="row g-3">
    <div class="col-md-6">
      <label>Name</label>
      <input formControlName="name" class="form-control" />
    </div>

    <div class="col-md-6">
      <label>Price</label>
      <input type="number" formControlName="price" class="form-control" />
    </div>

    <div class="col-md-6">
      <label>Quantity</label>
      <input type="number" formControlName="quantity" class="form-control" />
    </div>

    <div class="col-md-6">
      <label>Category</label>
      <select formControlName="category" class="form-select">
        <option value="">-- Select --</option>
        <option *ngFor="let cat of categories" [value]="cat._id">
          {{ cat.name }}
        </option>
      </select>
    </div>

    <div class="col-md-6">
      <label>Brand</label>
      <select formControlName="brand" class="form-select">
        <option value="">-- Select --</option>
        <option *ngFor="let b of brands" [value]="b._id">
          {{ b.name }}
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label>Image Cover</label>
      <input
        type="file"
        (change)="onImageCoverSelected($event)"
        accept="image/*"
        class="form-control"
      />
    </div>

    <!-- Additional Images Upload -->
    <div class="col-md-6">
      <label>Additional Images (You can select multiple)</label>
      <input
        type="file"
        multiple
        (change)="onImagesSelected($event)"
        accept="image/*"
        class="form-control"
      />
    </div>

    <div class="col-md-12">
      <label>Description</label>
      <textarea
        formControlName="description"
        class="form-control"
        rows="3"
      ></textarea>
    </div>
  </div>

  <div class="mt-4">
    <button class="btn btn-primary me-2" [disabled]="editForm.invalid">
      Update
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="router.navigate(['/admin/products'])"
    >
      Cancel
    </button>
  </div>
</form>
