.social i {
  color: var(--main-color);
}
.logo {
  width: 320px;
  height: 62px;
  object-fit: contain;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030; /* higher than sidebar */
  background-color: white; /* Or your theme color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}
