<h5 class="fw-bold">Filters</h5>

<!-- Category -->
<div class="mb-3">
  <label class="form-label fw-bold">Category</label>
  <select
    class="form-select"
    [(ngModel)]="selectedCategory"
    (change)="emitFilters()"
  >
    <option value="">All Categories</option>
    <option *ngFor="let cat of categories" [value]="cat._id">
      {{ cat.name }}
    </option>
  </select>
</div>

<!-- Brand -->
<div class="mb-3">
  <label class="form-label fw-bold">Brand</label>
  <select
    class="form-select"
    [(ngModel)]="selectedBrand"
    (change)="emitFilters()"
  >
    <option value="">All Brands</option>
    <option *ngFor="let brand of brands" [value]="brand._id">
      {{ brand.name }}
    </option>
  </select>
</div>

<!-- Rating -->
<div class="mb-3">
  <label class="form-label fw-bold">Minimum Rating</label>
  <input
    type="range"
    class="form-range"
    min="0"
    max="5"
    step="0.5"
    [(ngModel)]="minRating"
    (change)="emitFilters()"
  />
  <small>{{ minRating }}+</small>
</div>

<!-- Price -->
<div class="mb-3">
  <label class="form-label fw-bold">Max Price</label>
  <input
    type="range"
    class="form-range"
    min="0"
    max="10000"
    step="100"
    [(ngModel)]="maxPrice"
    (change)="emitFilters()"
  />
  <small>Up to {{ maxPrice }} EGP</small>
</div>
