<!-- Show loading spinner if loading -->
<app-loading *ngIf="isLoading"></app-loading>

<!-- Show products if there are any -->
<div *ngIf="!isLoading && productsByBrand.length; else noProducts" class="row">
  <div
    *ngFor="let product of productsByBrand"
    class="col-sm-6 col-md-4 col-xl-3"
  >
    <app-product [product]="product"></app-product>
  </div>
</div>

<!-- Template shown when there are no products -->
<ng-template #noProducts>
  <p class="alert alert-danger fs-5 text-center fw-bold mt-5">
    No Available Products for this Brand
  </p>
</ng-template>
