<section class="container my-5">
  <div class="container mt-4">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-4 mb-4">
        <app-user-sidebar></app-user-sidebar>
      </div>

      <!-- Account Settings -->
      <div class="col-md-8">
        <h4 class="text-success">YOUR ACCOUNT SETTINGS</h4>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label>Name</label>
            <input formControlName="name" class="form-control" />
          </div>

          <div class="mb-3">
            <label>Email address</label>
            <input formControlName="email" class="form-control" />
          </div>

          <div class="mb-3">
            <label>Phone</label>
            <input formControlName="phone" class="form-control" />
          </div>

          <div class="mb-3">
            <label>Choose new photo</label>
            <input
              type="file"
              (change)="onFileSelected($event)"
              class="form-control"
            />
            <img
              *ngIf="previewImageUrl"
              [src]="previewImageUrl"
              alt="Profile"
              class="img-thumbnail mt-2"
              width="100"
            />
          </div>

          <button
            class="btn btn-success"
            [disabled]="profileForm.invalid || isLoading"
          >
            <span *ngIf="!isLoading">Save Settings</span>
            <span *ngIf="isLoading"
              ><i class="fas fa-spinner fa-spin"></i
            ></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
