<form
  (ngSubmit)="handleResetPassword()"
  [formGroup]="resetPassword"
  novalidate
  class="w-50 mx-auto"
>
  <p *ngIf="errorMessage" class="text-center text-danger">
    {{ errorMessage }}
    <i class="fa-solid fa-xmark ms-2"></i>
  </p>

  <div class="row g-3">
    <!-- New Password -->
    <div class="col-12">
      <div class="password-field position-relative">
        <input
          formControlName="newPassword"
          [type]="passwordFieldType"
          class="form-control"
          placeholder="New password"
          [ngClass]="{
            'is-valid': resetPassword.get('newPassword')?.valid,
            'is-invalid':
              resetPassword.get('newPassword')?.invalid &&
              resetPassword.get('newPassword')?.dirty
          }"
        />
        <div
          class="position-absolute top-50 eye translate-middle-y me-3 cursor-pointer"
          (click)="togglePasswordVisibility()"
        >
          <i
            class="fa"
            [ngClass]="
              passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'
            "
          ></i>
        </div>
        <div
          *ngIf="
            resetPassword.get('newPassword')?.touched &&
            resetPassword.get('newPassword')?.invalid
          "
          class="text-danger"
        >
          <p
            *ngIf="resetPassword.get('newPassword')?.errors?.['required']"
            class="my-0"
          >
            Password is required
          </p>
          <p
            *ngIf="resetPassword.get('newPassword')?.errors?.['pattern']"
            class="my-0"
          >
            Password must start with an uppercase letter followed by at least 5
            characters
          </p>
        </div>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="col-12">
      <div class="password-field position-relative">
        <input
          formControlName="confirmPassword"
          [type]="passwordFieldType"
          class="form-control"
          placeholder="Confirm password"
          [ngClass]="{
            'is-valid':
              resetPassword.get('confirmPassword')?.valid &&
              resetPassword.get('confirmPassword')?.touched,
            'is-invalid':
              (resetPassword.get('confirmPassword')?.dirty ||
                resetPassword.get('confirmPassword')?.touched) &&
              resetPassword.hasError('passwordsMismatch')
          }"
        />
        <div
          class="position-absolute top-50 eye translate-middle-y me-3 cursor-pointer"
          (click)="togglePasswordVisibility()"
        >
          <i
            class="fa"
            [ngClass]="
              passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'
            "
          ></i>
        </div>
        <div
          *ngIf="
            resetPassword.hasError('passwordsMismatch') &&
            resetPassword.get('confirmPassword')?.touched
          "
          class="text-danger"
        >
          <p class="my-0">Passwords do not match</p>
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="col-12 d-grid">
      <button
        [disabled]="resetPassword.invalid || isLoading"
        class="btn bg-main text-white"
      >
        <span *ngIf="!isLoading">Send</span>
        <span *ngIf="isLoading"><i class="fas fa-spin fa-spinner"></i></span>
      </button>
    </div>

    <a routerLink="/verify-reset-code" class="btn btn-light">Back</a>
  </div>
</form>
