<div class="list-group">
  <a
    routerLink="add-product"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    Add Product
  </a>
  <a
    routerLink="update-product"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    ✏️ Update Product
  </a>
  <a
    routerLink="delete-product"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    🗑️ Delete Product
  </a>
  <a
    routerLink="users"
    routerLinkActive="active"
    class="list-group-item list-group-item-action"
  >
    🗑️ Delete Product
  </a>
</div>
